# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Uploads (if any)
uploads/
audio/

# Coverage
coverage/

# Misc
*.local